!!!
%html
  %head
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css'}
  %body
    .container
      %section{:style => 'padding-top: 32px'}
        .jumbotron
          %h1
            slacker
          %p.desc
            Slacker is a collection of Ruby scripts to improve Slack.com.

          %hr

          %a.btn.btn-primary.btn-lg{:href => 'https://github.com/ttaylorr/slacker'}
            Find us on Github
